<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/navbar.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>

    <style>
        .submitBtn{
            all: unset;
            background-color: blueviolet;
            padding: 5px;
            width: 40%;
            text-align: center;
            font-size: 2vh;
            border-radius: 10px;
            color: azure;
            font-weight: bold;
        }

        .submitBtn:hover{
            cursor: pointer;
        }
    </style>
</head>
<body style="background-color: rgb(219, 250, 236); height: 100vh; margin: 0; background-image: url(../static/wallpaper2.webp); background-size: cover;">

    <div id="sidebar" class="sidenav">
        <div class="naviOpt">
            <form action="/beforeModelling" method="post" enctype="multipart/form-data">
                <input type="hidden" name="username" value="{{username}}">
                <button type="submit">Data Modelling</button>
            </form>
            <a href="#">About</a>
            {% if username %}
                <form action="/modelHist" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="username" value="{{username}}">
                    <button type="submit">Modelling History</button>
                </form>
            {% else %}
                <form action="/modelHist" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="username" value="{{username}}">
                    <button type="submit" style="pointer-events: none;">Modelling History</button>
                </form>
            {% endif %}
        </div>

        <div class="myProfile" style="width: 300px; height: 250px; background-color:rgb(53, 51, 51); text-align: center;">
            <!-- <img src="../static/profile.png" style="background-color: transparent;"> -->
            <i class='bx bx-user' style="font-size:130px; color: aliceblue; padding: 5px; border: 2px solid white; border-radius: 50%;"></i>
            <p style="color: white; margin: 5px 0; font-size: 20px;" id="username">
                {% if username %}
                    {{username}}
                {% else %}
                    Anonymous
                {% endif %}
            </p>

            <a href="/login" style="padding: 15px 0; display: flex; justify-content: center;" id="login">
                <i class='bx bx-log-in' style="padding-right: 10px;"></i>
                <span style="padding-right: 10px ;">Login</span>
            </a>

            <a href="/logout" style="padding: 15px 0; display: none; justify-content: center;" id="logout">
                <i class='bx bx-log-out' style="padding-right: 10px;"></i>
                <span style="padding-right: 10px;">Logout</span>
            </a>
        </div>
    </div>

    <div id="mainbox" class="main" style="height: 100%; display:flex; flex-direction:column; margin-left: 300px; font-family:sans-serif;">
        <div style="align-self: center; height:20%; width:50vh; background-color:white; margin-top: 37.5vh; box-shadow: 0px 0px 2px 2px rgb(193, 193, 193);  position: relative;">
            <div style="font-size: 2vh; display: flex; flex-direction: column; align-items: center; justify-items: space-around;">
                
                    <p>Enter Your Username</p>
                    <input type="text" name="username" id="username1" placeholder="username" required style="height:25px; width: 60%;">
 
                <span style="color: red; font-size: 1.5vh;" id="warning"></span>
                {% if expired == 'True' %}
                <span style="color: red; font-size: 1.5vh;">Incorrect token or token has expired. Please try again</span>
                {% endif %}
                <br>
                <button class="submitBtn" style="align-self: center; position:absolute; bottom:3vh;" onclick="sendEmail()">Submit</button>
            </div>
        </div>

    </div>


    <form id="popOutBox" action="/userVerification" enctype="multipart/form-data" method="post" style="display: none; align-items: center; position: fixed; top:30%; left:40%;background-color: rgb(255, 255, 255); width: 50vh; height: 40vh;">
        <h1 style="background-color: rgb(50, 177, 255); width:100%; text-align:center; margin-top:0; margin-bottom: 0;">Verification</h1>
        
        <div style="display: flex; flex-direction:column; align-items:center; height:90%; justify-content:space-around; border: 5px solid rgb(50, 177, 255);">
            <i class='bx bx-envelope' style="font-size: 15vh;"></i>

            <p style="font-size: 2vh;">Please check your registered email for the token.</p>
            
            <input type="text" name="token" placeholder="Token" required style="height: 2vh; width:60%;">

            <input type="hidden" name="username" id="username2">
            <button type="submit" class="submitBtn" style="width: 60%;">Verify</button>
        </div>
    </form>

    <script>

        var username;

        function sendEmail(){
            let formData = new FormData();
            username = document.getElementById('username1').value;

            if (username != ""){
                formData.append('username',username)

                var request = new XMLHttpRequest();
                request.open('POST','/sendEmail');
                request.send(formData);

                request.onreadystatechange = function() {       
                    if (request.readyState==4 && request.status==200){
                        var response = request.responseText;
                        if(response == "Fail"){
                            document.getElementById('warning').innerHTML = "Username unregistered";
                        }
                        else{
                            popOutBox()
                        }
                    }
                }
            }

            else{
                document.getElementById('warning').innerHTML = "Please fill in your username";
            }
        }

        function popOutBox(){
            document.getElementById('username2').value = username;
            var bckGround = document.getElementById("mainbox");
            var sidebar = document.getElementById("sidebar");
            var popOutBox = document.getElementById("popOutBox");

            bckGround.style.pointerEvents = "none";
            sidebar.style.pointerEvents = "none";

            bckGround.style.opacity = "20%";
            sidebar.style.opacity = "20%";

            popOutBox.style.display = "block";
        }

    </script>
    
</body>
</html>