<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/navbar.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
    <style>
        input{
            all: unset;
            border-bottom: 2px solid gray;
        }
        .submitBtn{
            all: unset;
            background-color: blueviolet;
            padding: 5px;
            width: 40%;
            text-align: center;
            font-size: 2vh;
            border-radius: 10px;
            color: azure;
            font-weight: bold;
        }

        .submitBtn:hover{
            cursor: pointer;
        }
    </style>
</head>
<body style="background-color: rgb(219, 250, 236); height: 100vh; margin: 0; background-image: url(../static/wallpaper2.webp); background-size: cover;">

    <div class="sidenav">
        <div class="naviOpt">
            <form action="/beforeModelling" method="post" enctype="multipart/form-data">
                <input type="hidden" name="username" value="{{username}}">
                <button type="submit">Data Modelling</button>
            </form>
            <a href="#">About</a>
            {% if username %}
                <form action="/modelHist" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="username" value="{{username}}">
                    <button type="submit">Modelling History</button>
                </form>
            {% else %}
                <form action="/modelHist" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="username" value="{{username}}">
                    <button type="submit" style="pointer-events: none;">Modelling History</button>
                </form>
            {% endif %}
        </div>

        <div class="myProfile" style="width: 300px; height: 250px; background-color:rgb(53, 51, 51); text-align: center;">
            <!-- <img src="../static/profile.png" style="background-color: transparent;"> -->
            <i class='bx bx-user' style="font-size:130px; color: aliceblue; padding: 5px; border: 2px solid white; border-radius: 50%;"></i>
            <p style="color: white; margin: 5px 0; font-size: 20px;" id="username">
                    Anonymous
            </p>

            <a href="/login" style="padding: 15px 0; display: flex; justify-content: center;" id="login">
                <i class='bx bx-log-in' style="padding-right: 10px;"></i>
                <span style="padding-right: 10px ;">Login</span>
            </a>

            <a href="/logout" style="padding: 15px 0; display: none; justify-content: center;" id="logout">
                <i class='bx bx-log-out' style="padding-right: 10px;"></i>
                <span style="padding-right: 10px;">Logout</span>
            </a>
        </div>
    </div>

    {{username1}}

    <div class="main" style="height: 100%; display:flex; flex-direction:column; margin-left: 300px; font-family:sans-serif;">

        <div style="align-self: center; background-color:white; height:55%; width:50vh; margin-top: 22.5vh; font-size: 2vh; display: flex; flex-direction: column; justify-content: center; box-shadow: 0px 0px 2px 2px rgb(193, 193, 193);  position: relative;">
            <p style="position: absolute; top:0; margin-top:0; padding: 1.5vh 0; width:100%; background-color: blueviolet; color: aliceblue; font-weight: bold; text-align: center;">Reset Password</p>
            <div id="regBox" style="display: block;">
                <form action="/resetPassword" method="post" enctype="multipart/form-data" style="display: flex; flex-direction:column; align-items:center; justify-content: center;">
                    
                    <input type="hidden" name="username" id="username" value="{{username1}}">
                    <input type="password" name="password" placeholder="New password" id="password" style="width: 60%; height: 25px;" required>
                    <br>
                    <input type="password" name="confirmPassword" placeholder="Confirm password" id="confirmPassword" style="width: 60%; height: 25px;" required>
                    <br>
                    <span id="warning" style="color: red;position: absolute; bottom:10vh;"></span>

                    <div style="display: flex; justify-content:center; width:60%; position: absolute; bottom: 5vh;">
                        <button type="submit" class="submitBtn">Confirm</button> 
                        <!-- <a href="/forgotPassword" style="font-size: 2vh;">Forgot Password</a> -->
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- <form action="/resetPassword" method="post" enctype="multipart/form-data">
        <input type="hidden" name="username" id="username" value="{{username}}">
        <input type="password" name="password" id="password">
        <input type="password" name="confirmPassword" id="confirmPassword">
        <button type="submit">Confirm</button>
    </form> -->
    
</body>
</html>