<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

    <div id="colDisplay" class="dataCleaning">

        <!-- Upload File -->

        <input id="myfile" type="file" name="myfile">
        <button id="uploadButton" onclick="uploadMyFile()">Upload</button>

        <div id="myText"></div>

        <div id="myText2"></div>
 
    </div>

    <div id="myDiv" style="width:100%;max-width:700px"></div>

    <script>
        var cat_col = [];
        var num_col = [];
        var col_dict = {};

        function uploadMyFile(){
            console.log('inside the function')

            let formData = new FormData();
            console.log(myfile.files[0])
            formData.append("file",myfile.files[0]);

            //formData.append("file","hi")

            console.log(formData)

            var request = new XMLHttpRequest();
            request.open("POST","/checkFileForVisualise");
            request.send(formData);

            request.onreadystatechange = function() {
                
                if (request.readyState==4 && request.status==200){
                    console.log(request.responseText);
                    col_dict =  JSON.parse(request.responseText);

                    if (col_dict['verify'] == false){
                        document.getElementById("myText").innerHTML = col_dict['Error Message'];
                    }

                    else {
                        document.getElementById("myText").innerHTML = "Success";  

                        for(var key in col_dict['categorical']){
                            cat_col.push(key);
                        }           
                        for(var key in col_dict['numerical']){
                            num_col.push(key);
                        }   
                    }
                }
            }
        }

        // Graph

        var x = [];
        for (var i = 0; i < 6000; i ++) {
            x[i] = Math.random() * 10000;
        }


        var trace = {
            x: x,
            type: 'histogram',
            xbins :{
                size : 100
            }
        };

        var data = [trace];
        Plotly.newPlot('myDiv', data);

        // One num data
        // Histogram, skewness, null count, discribe what skew

        // Two num data
        // scatterplot, correlation, skewness and null count for both data

        // One cat data
        // barchart, null count, count of each category exist in data, can choose normalise or not

        // Two cat data
        // barchart, same with above

        // Two num one cat
        // Scatter plot with different colour points

    </script>
    
</body>
</html>